fieldset {
    border: 0;
    padding: 0;
}

label {
    display: block;
}

input {
    padding: 10px;
    background: $white;
    border: 0.5px solid #878787;
    border-radius: 8px;
    &:focus {
        border: 0.5px solid $joycon-blue;
    }
}

button,
input[type="button"],
.btn {
    border: 0;
    background: $joycon-red;
    padding: 10px 25px;
    &:hover {
        background: $joycon-blue;
        cursor: pointer;
    }
    &:active {
        background: $joycon-btn-grey;
    }
    &:disabled {
        background:$joycon-grey;
        color: $joycon-btn-grey;
    }
}