#root {
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;

}

.wrap{
    width: 100%;
    padding: 10%;
}

@supports (max-width: 900px) {
    .wrap{
        max-width: 940px;
        margin: 0 auto;
        padding: 0;
    }
}



nav {
    padding: 35px 0;
    ul {
        float: right;
        list-style: none;
        li {
            display: inline;
            a {
                padding: 0 20px;
            }
        }
        &::after {
            content: "";
            clear: both;
            float: none;
            display: block;
        }
    }
}

main {

}
