* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

*::selection {
    background-color: $joycon-red;
}

@mixin  h1 () {
    margin: 0 0 $small-space 0;
    font-weight: 700;
    font-size: 42;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
}

@mixin  h2 () {
    margin: 0 0 $extra-small-space 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: $white;
    text-transform: uppercase;
}

@mixin  p1 () {
    margin: 0 0 $extra-small-space 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $black;
    &strong {
        font-weight: 600;
    }
}


@mixin  p2 () {
    margin: 0 0 $extra-small-space 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $black;
    &strong {
        font-weight: 600;
    }
}


a {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: $black;
    &:hover {
        text-decoration: underline;
        color: $black;
    }
    &:active {
        text-decoration: underline;
        color: #68857F;
    }
    &:visited {
        color: #68857F;
    }
}

label {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    margin: 0 0 10px 0;
    color: $black;
    text-transform: uppercase;
}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: $joycon-btn-grey;
}

button,
input[type="button"],
.btn {
    text-align: center;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: $white;
    background: $black;
}