* {
    font-family: $Font2;
    ;
}

*::selection {
    background-color: $joycon-red;
    color: $white;
    text-decoration-color: $white;
}

@mixin h1 () {
    font-family: $Font1;
    margin: 0 0 $small-space 0;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
}

@mixin h2 () {
    font-family: $Font1;
    margin: 0 0 $mid-space 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: $white;
    text-transform: uppercase;
}

@mixin p1 () {
    font-family: $Font2;
    margin: 0 0 $extra-small-space 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $black;

    strong,
    b {
        font-weight: 800;
    }
}

@mixin p2 () {
    font-family: $Font2;
    margin: 0 0 $extra-small-space 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $black;

    strong,
    b {
        font-weight: 800;
    }
}


@mixin p3 () {
    font-family: $Font2;
    margin: 0 0 $extra-small-space 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $black;

    strong,
    b {
        font-weight: 800;
    }
}


@mixin link () {
    font-family: $Font2;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: $black;
    margin: 0;
    color: $joycon-blue;
    text-decoration: underline;

    &:hover {
        color: #129FB7;
    }

    &:active,
    &:visited {
        color: #129FB7;
    }
}

a.white-link {
    color: $white;
}

label {
    @include p1();
    letter-spacing: 0.05em;
    margin: 0 0 10px 0;
    color: $black;
    text-transform: uppercase;
}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: $joycon-btn-grey;
}

button,
input[type="button"],
.btn {
    @include p2();
}

.uppercase {
    text-transform: uppercase;
}