//#####     COLORS
//PRIMARY
$tomato: #FE4040;
$sea: #8CADA6;
$dark-grey: #1C1C1C;
$white: #ffffff;
//SECONDARY
$faded-red: #D88D8D;
$faded-red-dark: #C57B7B;
$mid-grey: #616161;
$light-grey: #EBEBED;
$dark-sea: #68857F;